{% extends '::backend.html.twig' %}
{% block title %}Register User{% endblock %}
 {%  block stylesheets %}
     {{ parent() }}
     <!-- SELECT2 -->
     <link rel="stylesheet" type="text/css" href="{{asset('web/bundles/backend/js/select2/select2.min.css')}}" />
     <!-- UNIFORM -->
     <link rel="stylesheet" type="text/css" href="{{asset('web/bundles/backend/js/uniform/css/uniform.default.min.css')}}" />
     <!-- WIZARD -->
     <link rel="stylesheet" type="text/css" href="{{asset('web/bundles/backend/js/bootstrap-wizard/wizard.css')}}" />
 {%  endblock %}
 {% block javascripts %}
    {{ parent() }}
     <!-- SELECT2 -->
     <script type="text/javascript" src="{{asset('web/bundles/backend/js/select2/select2.min.js')}}"></script>
     <!-- UNIFORM -->
     <script type="text/javascript" src="{{asset('web/bundles/backend/js/uniform/jquery.uniform.min.js')}}"></script>
     <!-- WIZARD -->
     <script src="{{asset('web/bundles/backend/js/bootstrap-wizard/jquery.bootstrap.wizard.min.js')}}"></script>
     <!-- WIZARD -->
     <script src="{{asset('web/bundles/backend/js/jquery-validate/jquery.validate.min.js')}}"></script>
     <script src="{{asset('web/bundles/backend/js/jquery-validate/additional-methods.min.js')}}"></script>
     <!-- BOOTBOX -->
     <script type="text/javascript" src="{{asset('web/bundles/backend/js/bootbox/bootbox.min.js')}}"></script>
     <!-- COOKIE -->
     <script type="text/javascript" src="{{asset('web/bundles/backend/js/jQuery-Cookie/jquery.cookie.min.js')}}"></script>
     <script src="{{asset('web/bundles/backend/js/bootstrap-wizard/form-wizard.min.js')}}"></script>
     <script type="text/javascript" src="{{asset('web/bundles/backend/js/bootstrap-inputmask/bootstrap-inputmask.min.js')}}"></script>
     <script>
        jQuery(document).ready(function() {
            App.setPage("create_user");  //Set current page
            // alert(window.location.pathname);
            App.init(); //Initialise plugins and elements
            FormWizard.init();
            $("#email").focusout(function() {
                var data = { 'verif': $(this).val() }
                $.ajax({
                    type: "POST",
                    url: "{{path('register_user')}}",
                    data:{data:data},
                    dataType:"json",
                    success: function(result) {
                        if(result.code == 1){
                            $("#email").val('');
                            $("#email").parents("div.form-group").removeClass("has-success").addClass("has-error");
                            $(".error-span[for|='email']").text("Questo campo è obbligatorio.");
                        }
                    }
                });
            });
        });

        function showFields(){
            $("#p_email").text($("#email").val());
            $("#p_fullname").text($("#name").val()+' '+$("#lastname").val());
            $("#p_gender").text(($('input[name=gender]:checked').val() == 'M') ? 'Male' : 'Female');
            $("#p_role").text(($('input[name=role]:checked').val() == '1') ? 'User' : 'Admin');
            $("#p_location").text($("#location").val());
            $("#p_country").text($("#country_select option:selected").text());
            $("#p_phone").text($("#phone").val());
            $("#p_mobile").text($("#mobile").val());
            $("#p_partita").text($("#partita").val());
            $("#p_codice_f").text($("#codice_f").val());
            
        }
     </script>
     <!-- /JAVASCRIPTS -->
 {% endblock %}
{% block content %}
{% if is_granted('ROLE_ADMIN') %}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <!-- BREADCRUMBS -->
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="{{path('User_index')}}">Home</a>
                    </li>
                    <li>Users</li>
                </ul>
                <!-- /BREADCRUMBS -->
                <div class="clearfix">
                    <h3 class="content-title pull-left">Registro</h3>
                </div>
            </div>
        </div>
    </div>
{% endif %}	
 <div class="row">
     <div class="col-md-12">
     <!-- BOX -->
     <div class="box border red" id="formWizard">
     <div class="box-title">
         <h4><i class="fa fa-bars"></i>Register User - <span class="stepHeader">Step 1 of 3</h4>
         <div class="tools hidden-xs">
             <a href="#box-config" data-toggle="modal" class="config">
                 <i class="fa fa-cog"></i>
             </a>
             <a href="javascript:;" class="reload">
                 <i class="fa fa-refresh"></i>
             </a>
             <a href="javascript:;" class="collapse">
                 <i class="fa fa-chevron-up"></i>
             </a>
             <a href="javascript:;" class="remove">
                 <i class="fa fa-times"></i>
             </a>
         </div>
     </div>
     <div class="box-body form">
        <form id="wizForm" action="{{ path('register_user') }}" class="form-horizontal" method="post">
            <div class="wizard-form">
                <div class="wizard-content">
                     <ul class="nav nav-pills nav-justified steps">
                         <li>
                             <a href="#account" data-toggle="tab" class="wiz-step">
                                 <span class="step-number">1</span>
                                 <span class="step-name"><i class="fa fa-check"></i> Create Account</span>
                             </a>
                         </li>

                         <li>
                             <a href="#payment" data-toggle="tab" class="wiz-step active">
                                 <span class="step-number">2</span>
                                 <span class="step-name"><i class="fa fa-check"></i> Other Details</span>
                             </a>
                         </li>
                         <li>
                             <a href="#confirm" data-toggle="tab" class="wiz-step">
                                 <span class="step-number">3</span>
                                 <span class="step-name"><i class="fa fa-check"></i> Finish </span>
                             </a>
                         </li>
                     </ul>
                     <div id="bar" class="progress progress-striped progress-sm active" role="progressbar">
                         <div class="progress-bar progress-bar-warning"></div>
                     </div>
                     <div class="tab-content">
                         <div class="alert alert-danger display-none">
                             <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>
                             Your form has errors. Please correct them to proceed.
                         </div>
                         <div class="alert alert-success display-none">
                             <a class="close" aria-hidden="true" href="#" data-dismiss="alert">×</a>
                             Your form validation is successful!
                         </div>
                         <div class="tab-pane active" id="account">
                             <div class="form-group">
                                 <label class="control-label col-md-4">Email<span class="required">*</span></label>
                                 <div class="col-md-4">
                                     <input type="text" class="form-control" id="email" name="email"/>
                                     <span class="error-span"></span>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label class="control-label col-md-4">Password<span class="required">*</span></label>
                                 <div class="col-md-4">
                                     <input type="password" class="form-control" name="password"/>
                                     <span class="error-span"></span>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label class="control-label col-md-4">Nome<span class="required">*</span></label>
                                 <div class="col-md-4">
                                     <input type="text" class="form-control" id="name" name="name"/>
                                     <span class="error-span"></span>
                                 </div>
                             </div>
                                 <div class="form-group">
                                     <label class="control-label col-md-4">Cognome<span class="required">*</span></label>
                                     <div class="col-md-4">
                                         <input type="text" class="form-control" id="lastname" name="lastname" required/>
                                         <span class="error-span"></span>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="control-label col-md-4">Genere<span class="required">*</span></label>
                                     <div class="col-md-4">
                                         <label class="radio">
                                             <input type="radio" name="gender" value="M" data-title="Male" class="uniform" checked="checked"/>
                                             Maschio
                                         </label>
                                         <label class="radio">
                                             <input type="radio" name="gender" value="F" data-title="Female" class="uniform"/>
                                             Femmina
                                         </label>
                                     </div>
                                 </div>
                            </div>
                            <div class="tab-pane" id="payment">
                                 <div class="form-group">
                                     <label class="control-label col-md-4">Luogo<span class="required">*</span></label>
                                     <div class="col-md-4">
                                         <input type="text" class="form-control" id="location" name="location"/>
                                         <span class="error-span"></span>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="control-label col-md-4">Nazione<span class="required">*</span></label>
                                    <div class="col-md-4">
                                         <select name="country" id="country_select" class="col-md-12 full-width-fix">
                                             <option value=""></option>
                                             <option value="AF">Afghanistan</option>
                                             <option value="AL">Albania</option>
                                             <option value="DZ">Algeria</option>
                                             <option value="AS">American Samoa</option>
                                             <option value="AD">Andorra</option>
                                             <option value="AO">Angola</option>
                                             <option value="AI">Anguilla</option>
                                             <option value="AQ">Antarctica</option>
                                             <option value="AR">Argentina</option>
                                             <option value="AM">Armenia</option>
                                             <option value="AW">Aruba</option>
                                             <option value="AU">Australia</option>
                                             <option value="AT">Austria</option>
                                             <option value="AZ">Azerbaijan</option>
                                             <option value="BS">Bahamas</option>
                                             <option value="BH">Bahrain</option>
                                             <option value="BD">Bangladesh</option>
                                             <option value="BB">Barbados</option>
                                             <option value="BY">Belarus</option>
                                             <option value="BE">Belgium</option>
                                             <option value="BZ">Belize</option>
                                             <option value="BJ">Benin</option>
                                             <option value="BM">Bermuda</option>
                                             <option value="BT">Bhutan</option>
                                             <option value="BO">Bolivia</option>
                                             <option value="BA">Bosnia and Herzegowina</option>
                                             <option value="BW">Botswana</option>
                                             <option value="BV">Bouvet Island</option>
                                             <option value="BR">Brazil</option>
                                             <option value="IO">British Indian Ocean Territory</option>
                                             <option value="BN">Brunei Darussalam</option>
                                             <option value="BG">Bulgaria</option>
                                             <option value="BF">Burkina Faso</option>
                                             <option value="BI">Burundi</option>
                                             <option value="KH">Cambodia</option>
                                             <option value="CM">Cameroon</option>
                                             <option value="CA">Canada</option>
                                             <option value="CV">Cape Verde</option>
                                             <option value="KY">Cayman Islands</option>
                                             <option value="CF">Central African Republic</option>
                                             <option value="TD">Chad</option>
                                             <option value="CL">Chile</option>
                                             <option value="CN">China</option>
                                             <option value="CX">Christmas Island</option>
                                             <option value="CC">Cocos (Keeling) Islands</option>
                                             <option value="CO">Colombia</option>
                                             <option value="KM">Comoros</option>
                                             <option value="CG">Congo</option>
                                             <option value="CD">Congo, the Democratic Republic of the</option>
                                             <option value="CK">Cook Islands</option>
                                             <option value="CR">Costa Rica</option>
                                             <option value="CL">Cloud Admin</option>
                                             <option value="CI">Cote d'Ivoire</option>
                                             <option value="HR">Croatia (Hrvatska)</option>
                                             <option value="CU">Cuba</option>
                                             <option value="CY">Cyprus</option>
                                             <option value="CZ">Czech Republic</option>
                                             <option value="DK">Denmark</option>
                                             <option value="DJ">Djibouti</option>
                                             <option value="DM">Dominica</option>
                                             <option value="DO">Dominican Republic</option>
                                             <option value="EC">Ecuador</option>
                                             <option value="EG">Egypt</option>
                                             <option value="SV">El Salvador</option>
                                             <option value="GQ">Equatorial Guinea</option>
                                             <option value="ER">Eritrea</option>
                                             <option value="EE">Estonia</option>
                                             <option value="ET">Ethiopia</option>
                                             <option value="FK">Falkland Islands (Malvinas)</option>
                                             <option value="FO">Faroe Islands</option>
                                             <option value="FJ">Fiji</option>
                                             <option value="FI">Finland</option>
                                             <option value="FR">France</option>
                                             <option value="GF">French Guiana</option>
                                             <option value="PF">French Polynesia</option>
                                             <option value="TF">French Southern Territories</option>
                                             <option value="GA">Gabon</option>
                                             <option value="GM">Gambia</option>
                                             <option value="GE">Georgia</option>
                                             <option value="DE">Germany</option>
                                             <option value="GH">Ghana</option>
                                             <option value="GI">Gibraltar</option>
                                             <option value="GR">Greece</option>
                                             <option value="GL">Greenland</option>
                                             <option value="GD">Grenada</option>
                                             <option value="GP">Guadeloupe</option>
                                             <option value="GU">Guam</option>
                                             <option value="GT">Guatemala</option>
                                             <option value="GN">Guinea</option>
                                             <option value="GW">Guinea-Bissau</option>
                                             <option value="GY">Guyana</option>
                                             <option value="HT">Haiti</option>
                                             <option value="HM">Heard and Mc Donald Islands</option>
                                             <option value="VA">Holy See (Vatican City State)</option>
                                             <option value="HN">Honduras</option>
                                             <option value="HK">Hong Kong</option>
                                             <option value="HU">Hungary</option>
                                             <option value="IS">Iceland</option>
                                             <option value="IN">India</option>
                                             <option value="ID">Indonesia</option>
                                             <option value="IR">Iran (Islamic Republic of)</option>
                                             <option value="IQ">Iraq</option>
                                             <option value="IE">Ireland</option>
                                             <option value="IL">Israel</option>
                                             <option value="IT">Italy</option>
                                             <option value="JM">Jamaica</option>
                                             <option value="JP">Japan</option>
                                             <option value="JO">Jordan</option>
                                             <option value="KZ">Kazakhstan</option>
                                             <option value="KE">Kenya</option>
                                             <option value="KI">Kiribati</option>
                                             <option value="KP">Korea, Democratic People's Republic of</option>
                                             <option value="KR">Korea, Republic of</option>
                                             <option value="KW">Kuwait</option>
                                             <option value="KG">Kyrgyzstan</option>
                                             <option value="LA">Lao People's Democratic Republic</option>
                                             <option value="LV">Latvia</option>
                                             <option value="LB">Lebanon</option>
                                             <option value="LS">Lesotho</option>
                                             <option value="LR">Liberia</option>
                                             <option value="LY">Libyan Arab Jamahiriya</option>
                                             <option value="LI">Liechtenstein</option>
                                             <option value="LT">Lithuania</option>
                                             <option value="LU">Luxembourg</option>
                                             <option value="MO">Macau</option>
                                             <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                                             <option value="MG">Madagascar</option>
                                             <option value="MW">Malawi</option>
                                             <option value="MY">Malaysia</option>
                                             <option value="MV">Maldives</option>
                                             <option value="ML">Mali</option>
                                             <option value="MT">Malta</option>
                                             <option value="MH">Marshall Islands</option>
                                             <option value="MQ">Martinique</option>
                                             <option value="MR">Mauritania</option>
                                             <option value="MU">Mauritius</option>
                                             <option value="YT">Mayotte</option>
                                             <option value="MX">Mexico</option>
                                             <option value="FM">Micronesia, Federated States of</option>
                                             <option value="MD">Moldova, Republic of</option>
                                             <option value="MC">Monaco</option>
                                             <option value="MN">Mongolia</option>
                                             <option value="MS">Montserrat</option>
                                             <option value="MA">Morocco</option>
                                             <option value="MZ">Mozambique</option>
                                             <option value="MM">Myanmar</option>
                                             <option value="NA">Namibia</option>
                                             <option value="NR">Nauru</option>
                                             <option value="NP">Nepal</option>
                                             <option value="NL">Netherlands</option>
                                             <option value="AN">Netherlands Antilles</option>
                                             <option value="NC">New Caledonia</option>
                                             <option value="NZ">New Zealand</option>
                                             <option value="NI">Nicaragua</option>
                                             <option value="NE">Niger</option>
                                             <option value="NG">Nigeria</option>
                                             <option value="NU">Niue</option>
                                             <option value="NF">Norfolk Island</option>
                                             <option value="MP">Northern Mariana Islands</option>
                                             <option value="NO">Norway</option>
                                             <option value="OM">Oman</option>
                                             <option value="PK">Pakistan</option>
                                             <option value="PW">Palau</option>
                                             <option value="PA">Panama</option>
                                             <option value="PG">Papua New Guinea</option>
                                             <option value="PY">Paraguay</option>
                                             <option value="PE">Peru</option>
                                             <option value="PH">Philippines</option>
                                             <option value="PN">Pitcairn</option>
                                             <option value="PL">Poland</option>
                                             <option value="PT">Portugal</option>
                                             <option value="PR">Puerto Rico</option>
                                             <option value="QA">Qatar</option>
                                             <option value="RE">Reunion</option>
                                             <option value="RO">Romania</option>
                                             <option value="RU">Russian Federation</option>
                                             <option value="RW">Rwanda</option>
                                             <option value="KN">Saint Kitts and Nevis</option>
                                             <option value="LC">Saint LUCIA</option>
                                             <option value="VC">Saint Vincent and the Grenadines</option>
                                             <option value="WS">Samoa</option>
                                             <option value="SM">San Marino</option>
                                             <option value="ST">Sao Tome and Principe</option>
                                             <option value="SA">Saudi Arabia</option>
                                             <option value="SN">Senegal</option>
                                             <option value="SC">Seychelles</option>
                                             <option value="SL">Sierra Leone</option>
                                             <option value="SG">Singapore</option>
                                             <option value="SK">Slovakia (Slovak Republic)</option>
                                             <option value="SI">Slovenia</option>
                                             <option value="SB">Solomon Islands</option>
                                             <option value="SO">Somalia</option>
                                             <option value="ZA">South Africa</option>
                                             <option value="GS">South Georgia and the South Sandwich Islands</option>
                                             <option value="ES">Spain</option>
                                             <option value="LK">Sri Lanka</option>
                                             <option value="SH">St. Helena</option>
                                             <option value="PM">St. Pierre and Miquelon</option>
                                             <option value="SD">Sudan</option>
                                             <option value="SR">Suriname</option>
                                             <option value="SJ">Svalbard and Jan Mayen Islands</option>
                                             <option value="SZ">Swaziland</option>
                                             <option value="SE">Sweden</option>
                                             <option value="CH">Switzerland</option>
                                             <option value="SY">Syrian Arab Republic</option>
                                             <option value="TW">Taiwan, Province of China</option>
                                             <option value="TJ">Tajikistan</option>
                                             <option value="TZ">Tanzania, United Republic of</option>
                                             <option value="TH">Thailand</option>
                                             <option value="TG">Togo</option>
                                             <option value="TK">Tokelau</option>
                                             <option value="TO">Tonga</option>
                                             <option value="TT">Trinidad and Tobago</option>
                                             <option value="TN">Tunisia</option>
                                             <option value="TR">Turkey</option>
                                             <option value="TM">Turkmenistan</option>
                                             <option value="TC">Turks and Caicos Islands</option>
                                             <option value="TV">Tuvalu</option>
                                             <option value="UG">Uganda</option>
                                             <option value="UA">Ukraine</option>
                                             <option value="AE">United Arab Emirates</option>
                                             <option value="GB">United Kingdom</option>
                                             <option value="US">United States</option>
                                             <option value="UM">United States Minor Outlying Islands</option>
                                             <option value="UY">Uruguay</option>
                                             <option value="UZ">Uzbekistan</option>
                                             <option value="VU">Vanuatu</option>
                                             <option value="VE">Venezuela</option>
                                             <option value="VN">Viet Nam</option>
                                             <option value="VG">Virgin Islands (British)</option>
                                             <option value="VI">Virgin Islands (U.S.)</option>
                                             <option value="WF">Wallis and Futuna Islands</option>
                                             <option value="EH">Western Sahara</option>
                                             <option value="YE">Yemen</option>
                                             <option value="ZM">Zambia</option>
                                             <option value="ZW">Zimbabwe</option>
                                         </select>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="control-label col-md-4">Telefono<span class="required">*</span></label>
                                     <div class="col-md-4">
                                         <input type="text" class="form-control" id="phone" name="phone"/>
                                         <span class="error-span"></span>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="control-label col-md-4">Cellulare</label>
                                     <div class="col-md-4">
                                         <input type="text" class="form-control" id="mobile" name="mobile"/>
                                         <span class="error-span"></span>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="control-label col-md-4">Partita Iva<span class="required">*</span></label>
                                     <div class="col-md-4">
                                         <input type="text" class="form-control" id="partita" name="partita" data-mask="99999999999" required/>
                                         <span class="error-span"></span>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="control-label col-md-4">Codice Fiscale<span class="required">*</span></label>
                                     <div class="col-md-4">
                                         <input type="text" class="form-control" id="codice_f" name="codice_f"  required/>
                                         <span class="error-span"></span>
                                     </div>
                                 </div>
                                 {% if result.rol == 'ROLE_ADMIN' %}
                                 <div class="form-group">
                                     <label class="control-label col-md-4">Ruolo<span class="required">*</span></label>
                                     <div class="col-md-4">
                                         <label class="radio">
                                             <input type="radio" name="role" value="1" class="uniform" checked="checked"/>
                                             User
                                         </label>
                                         <label class="radio">
                                             <input type="radio" name="role" value="2" class="uniform"/>
                                             Admin
                                         </label>
                                     </div>
                                 </div>
                                 {% endif %}
                            </div>
                             <div class="tab-pane" id="confirm">
                                 <div class="well">
                                     <div class="form-group">
                                         <label class="control-label col-md-3">Email:</label>
                                         <div class="col-md-9">
                                             <p id="p_email" class="form-control-static" data-display="email"></p>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="control-label col-md-3">Nome e cognome:</label>
                                         <div class="col-md-9">
                                             <p id="p_fullname" class="form-control-static" data-display="fullname"></p>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="control-label col-md-3">Genere:</label>
                                         <div class="col-md-9">
                                             <p id="p_gender" class="form-control-static" data-display="gender"></p>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="control-label col-md-3">Indirizo:</label>
                                         <div class="col-md-9">
                                             <p id="p_location" class="form-control-static" data-display="address"></p>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="control-label col-md-3">Nazione:</label>
                                         <div class="col-md-9">
                                             <p id="p_country" class="form-control-static" data-display="country"></p>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="control-label col-md-3">Telefono:</label>
                                         <div class="col-md-9">
                                             <p id="p_phone" class="form-control-static" data-display="phone"></p>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="control-label col-md-3">Mobile:</label>
                                         <div class="col-md-9">
                                             <p id="p_mobile" class="form-control-static" data-display="mobile"></p>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="control-label col-md-3">Partita Iva:</label>
                                         <div class="col-md-9">
                                             <p id="p_partita" class="form-control-static" data-display="partita"></p>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="control-label col-md-3">Codice Fiscale:</label>
                                         <div class="col-md-9">
                                             <p id="p_codice_f" class="form-control-static" data-display="codice_f"></p>
                                         </div>
                                     </div>
                                     {% if result.rol == 'ROLE_ADMIN' %}
                                     <div class="form-group">
                                         <label class="control-label col-md-3">Ruolo:</label>
                                         <div class="col-md-9">
                                             <p id="p_role" class="form-control-static" data-display="role"></p>
                                         </div>
                                     </div>
                                     {% endif %}
                                 </div>
                             </div>
                         </div>
                    </div>
                    <div class="wizard-buttons">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-offset-3 col-md-9">
                                    <a href="javascript:;" class="btn btn-default prevBtn">
                                        <i class="fa fa-arrow-circle-left"></i> Di ritorno
                                    </a>
                                    <a href="javascript:;" class="btn btn-primary nextBtn">
                                        Continuare <i class="fa fa-arrow-circle-right"></i>
                                    </a>
                                    <button type="submit" class="btn btn-success submitBtn">
                                        Inviare <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
     </div>
     <!-- /BOX -->
     </div>
 </div>
 <input type="hidden" id="birthday" name="birthday" value="00/00/0000"/>
{% endblock %}